body{

	text-align:center;
	font-family:Didot, serif;
background-image: url("./runshoe.jpg.png");
background-size: cover;


h1{
font-size: 150px;
}

h2{
margin-bottom:4px;
}
}

header{
background-color: #ccecff;
font-family:Gill Sans, sans-serif;
margin-bottom: 0px;
}


div.b {
  line-height: 1.6;
}

img{
float:left;
padding:15px;
margin-left:50px;
}

.container{
width:80%;
margin: 0 auto;
}



header::after{
content:'';
display:table;
clear:both;
}

nav ul{
margin:0;
padding:0;
list-style:none;
}

nav li{
float:right;
display: inline-block;
margin-right:80px;
padding-top:42px;
position:relative;
}

nav a{
color: #7934b3;
text-transform:uppercase;
text-decoration:none;
}

nav a:hover{
color:#e075cb;
}

nav a::before{
content:'';
display:block;
height: 3px;
width: 100%;
background-color: #e075cb;

position: absolute;
top: 0;
width: 0%;
}

nav a:hover::before{
width:100%;
}


nav a:hover::before{
width:100%;
}

.SetGoals{
font-family:Optima, sans-serif;
font-size:4em;
font-weight:800;
margin-bottom: 0px;
margin-top:4px;
color:transparent;
background-image:url(https://media.giphy.com/media/fUvfA0iLgy8qCGuvF2/giphy.gif);
background-position:center;
-webkit-background-clip:text;
}

.buttonclass {
float:right;
  background-color:#7f3fb5;
color:black;
display:block;
height:122px;
width:122px;
border-radius:50%;
border:0px;
    margin:0 auto;
position:absolute;
top:50%;
text-decoration:none;
font-family:Impact, fantasy;
font-size:0.9rem;
}

.buttonclass:hover{
background-color:#e075cb;
}

.button1 {
transform:translateX(40px) translateY(225px);
}

.button2 {
transform:translateX(245px) translateY(225px);
}

.button3 {
transform:translateX(440px) translateY(225px);
}

.button4 {
transform:translateX(643px) translateY(225px);
}

.button5 {
transform:translateX(843px) translateY(225px);
}

.button6 {
transform:translateX(1043px) translateY(225px);
}

.boxed4{
background-color:#ccecff;
padding-top:50px;
padding-bottom:10px;
margin-top:-40px;
margin-bottom:10px;
margin-left:10px;
margin-right:10px;
top:50%;
left:50%;
opacity:100%;
}

#img1{
top:50%;
transform:translateX(10px) translateY(-15px);
}

.PlanRuns{
font-family:Optima, sans-serif;
font-size:4em;
font-weight:800;
margin-bottom: 0px;
margin-top:4px;
color:transparent;
background-image:url(https://media.giphy.com/media/fUvfA0iLgy8qCGuvF2/giphy.gif);
background-position:center;
-webkit-background-clip:text;
}

.boxed5{
background-color:#aa6dde;
border:0;
margin-top:10px;
padding:230px;
padding-bottom:370px;
padding-top:10px;
opacity: 0.775;
}

.textclass {
 background-color:#e075cb;
padding-bottom:60px;
padding-top:2px;
margin-top:10px;
margin-left:640px;
margin-right:640px;
top:50%;
left:50%;
border:black; 
font-family:Didot, serif;
text-align:center;
}

.boxed2{/*Text Box*/
transform:translateX(-610px)translateY(134px);
}

.boxed3{/*Text Box*/
transform:translateX(-410px)translateY(36px);
}

.boxed6{ /*Text Box*/
transform:translateX(-210px)translateY(-63px);
}

.boxed7{ /*Text Box*/
transform:translateX(-5px)translateY(-161px);
}

.boxed8{ /*Text Box*/
transform:translateX(195px)translateY(-259px);
}

.boxed9{ /*Text Box*/
transform:translateX(395px)translateY(-357px);
}

.FinishLine{
padding-top:40px;
}

.boxed10{
background-color:#e075cb;
padding-bottom:70px;
padding-top:60px;
padding-left:20px;
padding-right:20px;
margin-top:10px;
margin-left:640px;
margin-right:640px;
top:50%;
left:50%;
transform:translateX(600px)translateY(-456px);
border-style:solid;
font-family:Optima, sans-serif;
font-weight:920;
}

.boxed11{
background-color:#aa6dde;
margin-top:10px;
margin-bottom:10px;
padding-bottom:10px;
top:50%;
left:50%;
opacity:0.775;
}

.boxed12{
  background-color:#aa6dde;
margin-top:10px;
margin-bottom:10px;
top:50%;
left:50%;
opacity:0.775;
padding-bottom: 10px;
}

.boxed13{
background-color:#aa6dde;
padding-bottom:20px;
margin-top:10px;
top:50%;
left:50%;
opacity:0.775;
padding-bottom: 10px;
}

.finishLine{
  transform:translateX(50px)translateY(-456px);
}

.center{
	display:block;
	margin-left:20px;
	margin-right:20px;
}

.boxed14{
	margin:10px;
	padding:10px;
	background-color:#e075cb;
	margin-left:300px;
	margin-right:300px;
}